@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playwrite+NL+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing:border-box;

}
html body{
    font-family: "poppins", sans-serif;
    background-attachment: fixed;
    background-image:url(../Images/roses1.png);
    background-size: cover;
    background-repeat: no-repeat;
   
}
body {
    margin: 0;
    padding: 0;
   overflow: auto;
    color: white;
    
    display: flex;
   justify-content: center;
   text-align: center;

}
body::-webkit-scrollbar {
    display: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.page1 {
    animation: fadein 3s forwards; /* 3s is the duration */
    margin-top: 0%;
    transition: opacity 2s ease-out;
    width: 100%;
    height: 100vh;
    padding-top: 15%;
    
}
 /* Initially, the page will be fully visible */
 #page01 {
    opacity: 1;
    transition: opacity 2s ease-out;
}

/* Class to trigger the fade-out effect */
.fade-out {
    animation: fadeOut 2s forwards; /* Fade out over 2 seconds */
}
.page1 h1{
    font-family: "Alex Brush", cursive;
    font-size: 45px;
    background: none;
    animation: fadeIn 2s ease-in-out;
}
.page1 p{
    font-weight:bold;
    animation: fadeIn 2s ease-in-out;
}
.playbtn{
    width:100px;
    height: 40px;
    background-color:white;
    color: gray;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    justify-content: center;
    margin: 2%;

}
.page2{
    display: none;
    width: 80%;
    height: auto;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    animation: fadeIn 3s ease-in-out;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: left;
    padding: 10%;
    margin: auto;
}
.page2 .pg2-cont p{
    margin-top: 10px;
    font-family:"", cursive;
}
.pg2-final{
    display: flex;
    justify-content: center;
    font-family:"Alex Brush", cursive ;
    margin-top: 5%;
}
.responsebtn{
    width:100px;
    height: 40px;
    background-color: white;
    color: gray;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    justify-content: center;
    margin: 3%;
}
.responsebtn1{
    width:100px;
    height: 40px;
    background-color: white;
    color: gray;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    justify-content: center;
    margin: 0%;
}

.playbtn:hover , .responsebtn1:hover,.responsebtn:hover{
background: none;
border: 2px solid white;
color: white;
}

.fin-btns{
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}
.page3{
    display: none;
}

canvas {
    display: block;
    
}
.page4{
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* For visibility */
    z-index: 2;
    
    
}
@media(max-width:768px){
    .page1{
        margin-top: 50%;
    }

.page1 h1{
font-size: 22px;  
}
.page1 p{
    font-size: 14px;
}
.playbtn{
    width: 30%;
    height: 30px;
    margin-top: 5%;
}
.page2{
    width: 100%;
    height: auto;
    padding: 10%;
}
.page2 h1{
    font-size: 18px;
}
.page2 p{
    font-size: 16px;
     font-weight:bold;
}
.responsebtn{
    width:30%;
    height: 30px;
}
.pg4-cont{
    position: relative;
    display: flex;
    justify-content: center;
}
.pg4-cont .text{
    position: absolute;
    font-size: 12px;
    padding: 5%;
    box-shadow: 0 4ox 8px rgba(0, 0, 0, 0.2);
    margin-top: 60%;
    text-align: left;
    font-family: "", cursive;
    border: none;
    backdrop-filter: blur(2px);
}
.text h1{
    font-size: 16px;
    color:darkgray;
    font-family: "Sacramento", cursive;
}
.text p{
     font-weight:bold;
}
